body {
    background-image: linear-gradient(#f2eee5 0%, #f2eee5 25%, #badfdb 25%, #badfdb 100%);
    font-family: "Mate", serif;
}

#navmenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6da09b;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

#navmenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

#navmenu a:hover {
    color: #074e46;
}

#navmenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #f2eee5;
    color: #badfdb;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover{
    background-color: #6cafa8;
}

#navbar {
    transition: margin-left 0.5s;
    padding: 20px;
}

#logo {
    width: 80px;
    height: 80px;
}

#hawaii {
    font-family: "Calistoga", serif;
}

.main {
    transition: margin-left 0.5s;
    padding: 20px;
}